:root {
  --zero: #fff;
  --zero-rgb: 255, 255, 255;
  --primaryBG: #f3f4f8;
  --secondaryBG: #a9b6f8;
  --thirdBG: #ced7ff;
  --link: #0d0f1d;
  --hover-link: #fff;
  --linkBG: #fff;
  --menu-border: #e9eaee;
  --menu-color: #797a8c;
  --hoverBG: #8888de;
  --active: #fff;
  --activeBG: #647bfd;
  --activ-color: #8888de;
  --dark: #000;
  --error: #ff0000;
  --switcherBG: #afafd6;
  --activeDevice: #fbd52b;
  --livingroom: #e9eaef;
  --bath: #eeeeee;
  --kitchen: #ccced8;
  --bedroom: #c4c6d2;
  --hall: #d6d8e0;
  --shadow: 0px 4px 25px 2px #ababab;
}
