$body:		#f3f4f8;
$zero:		#fff;

$link:		#455eee;
$linkBG:	$zero;
$menu-border: #e9eaee;
$menu-color: #797a8c;
// $hover:	#666;
$hoverBG:	darken($link,20%);
$active:	$zero;
$activeBG:	darken($link,30%);

$night:		#fc0;
// $nightBG:	darken(#3646a8,20%);
$nightBG:	darken($link,40%);