svg {
  viewBox {
    width: 100%;
    height: 100%;
  }
}
#livingRoom {
  rect {
    fill: var(--livingroom);
    stroke: var(--livingroom);
  }
}

#flat-view > div {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 100%;
    height: 80vh;
  }
}

.room-title {
  font-size: 20px;
  fill: var(--active);
}

#BathRoom {
  rect {
    fill: var(--bath);
    stroke: var(--bath);
  }
}

#Kitchen {
  rect {
    fill: var(--kitchen);
    stroke: var(--kitchen);
    stroke-width: 1px;
  }
}

#BedRoom {
  rect {
    fill: var(--bedroom);
    stroke: var(--bedroom);
  }
}

image {
  width: 60px;
  height: 60px;
}

#Hall {
  rect {
    fill: var(--hall);
    stroke: var(--hall);
  }
}
#livingRoom,
#BathRoom,
#Kitchen,
#BedRoom,
#BedRoom,
#Hall {
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
