.device {
 
}
.img-icon{
  width: 25px;
  height: 25px;
margin: 0;
color: var( --link);
}
.device-name{
  font-size: 15px;
  color: red;
  margin-left: 40px;
}
.startDrag{
  background: var( --menu-color);
}
.stopDrag{
  background: white;
}
.device-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}
