.startDrag {
  background: var(--switcherBG);
}
.stopDrag {
  background: white;
}
.device-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 0.5px solid var(--bedroom);
  background: var(--zero);
  .img-icon {
    i {
      font-size: 30px;
    }

    margin: 5px;
    margin-left: 10px;
    padding-top: 5px;
    color: var(--link);
  }
  .device-name {
    font-size: 15px;
    color: var(--link);
    width: 100%;
    p {
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
