.room {
  margin-left: 70px;
  margin-bottom: 10px;
  background: var( --menu-color);
  height: 250px;
  width: 200px;
  border-radius: 5px;
  overflow: auto;

  &:not(:last-child) {
    margin-right: 10px;
  }
  .startDrop {
    background: var(--menu-border);
  }
  .stopDrop {
    background: var(--zero);
  }
  .name-room {
    text-align: center;
    font-size: 17px;
  }
}

