.room {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-left: 70px;
  height: 250px;
  width: 200px;

  &:not(:last-child) {
    margin-right: 10px;
  }

  .devices {
    display: flex;
    flex-flow: column;

  }
  .name-room{
    color:var(--dark);
    margin: 0 auto;
  font-size: 14px;
  &::first-letter{
    font-size: 25px;
  }}

}
.startDrop{
  background: green;
}
.stopDrop{
  background: white;
}




